@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,700&display=swap");

* {
	font-family: "JetBrains Mono", monospace;
}
h1 {
	text-align: center;
}
h2 {
	font-size: 1.5rem;
}
input[type="text"] {
	display: block;
	height: 20px;
	padding: 10px 16px;
	margin: 0.3rem;
	border-radius: 3px;
	width: 400px;
	border: none;
	background-color: #f3f3f3;
}
input[type="submit"] {
	display: block;
	height: 20px;
	margin: 10px;
	margin-top: 20px;
	border-radius: 3px;
	/* padding: 0 16px; */
	height: 40px;
	width: 160px;
	border: none;
	background-color: #f9521f;
	color: white;
}
img {
	margin: 5px;
}

@media screen and (max-width: 4000px) {
	img {
		max-width: 50%;
	}
}

@media screen and (max-width: 2000px) {
	img {
		max-width: 60%;
	}
}

@media screen and (max-width: 850px) {
	img {
		max-width: 80%;
	}
}

@media screen and (max-width: 580px) {
	input[type="text"] {
		width: 90%;
	}
	img {
		max-width: 95%;
	}
}
